/* 
    Board List and Header:
    - .board-list: Flexbox layout for board list with a background color.
    - .BoardList-header: Flexbox layout for header with space between items.
*/

/* Boards Container:
    - .boards-container: Flexbox layout with wrapping for boards, padding, and scrollable area.
*/

/* Board Styles:
    - .Board: Base board styling with background color, border-radius, shadow, and hover effect.
    - .Board-header: Flexbox layout for board header with space between items.
    - .Board-title: Board title styling.
    - .Board-ellipse-btn: Ellipse button styling for board actions.
*/

/* Board Body and Content:
    - .Board-body: Margin styling for the board body.
    - .Board-content: Text content inside the board.
    - .Board-content-input: Input field styling inside the board.
*/

/* Checked and Held Boards:
    - .Checked-Board: Styling for boards marked as checked.
    - .Held-Board: Styling for boards marked as held.
*/

/* Create Board Form:
    - .CreateBoard: Styling for the create board form with padding, border, and shadow.
    - .CreateBoard-title: Title styling for the create board form.
    - .CreateBoard-content: Content styling for the create board form.
*/

/* Board List and Header */

.board-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
}

.BoardList-header {
  display: flex;
  justify-content: space-between;
}

/* Boards Container */

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  overflow-y: auto;
  height: 300px;
  overflow-wrap:break-word ; 
}

.boards-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; 
  border-radius: 8px;
}

.boards-container::-webkit-scrollbar-thumb {
  background-color: lightseagreen; 
  border-radius: 8px; 
  transition: background-color 0.3s ease-in-out; 
}

.boards-container::-webkit-scrollbar-thumb:hover {
  background-color: lightgreen;
}

.boards-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px; 
}

/* Board Styles */

.Board {
  background-color: rgb(248, 248, 154);
  border-radius: 8px;
  width: 250px;
  height: 100px; 
  padding: 1.1em;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  margin: 20px 0px 0px 15px;
}

.Board:hover {
  transform: scale(1.01);
}

.Board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Board-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.Board-ellipse-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FF6B6B;
  color: #fff;
  border: none;
}

/* Board Body and Content */

.Board-body {
  margin-top: 10px;
}

.Board-content {
  margin: 0;
  font-size: 1em;
  color: #333;
  display: block;
  white-space: pre-wrap;
}

.Board-content-input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Checked and Held Boards */

.Checked-Board {
  background-color: rgb(119, 237, 119);
}

.Held-Board {
  background-color: rgb(115, 191, 238);
}

/* Create Board Form */

.CreateBoard {
  position: relative;
  width: 250px;
  height: 75px;
  background: #fff;
  margin: 1em auto;
  padding: 1.3em;
  border-radius: 20px;
  box-shadow: solid 10 2px 5px #aaa; 
  border: 3px lightseagreen outset;
}

.CreateBoard-title,
.CreateBoard-content {
  display: flex;
  flex-direction: column;
  border: #333;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  resize: none;
}
