.BoardList {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: var(--body_bg);
}

.boards-filter {
  width: 250px;
  margin-top: 20px;
  font-weight: 1.3rem;
  font-weight: bold;
  color: var(--board_txt);
  border-bottom: var(--board_border) 3px solid;
  background: var(--body_bg);
}


.BoardListTable {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  margin-top: 5px;
  background: var(--board_list_bg);
  padding: 10px;
}

.all-boards,
.held-boards,
.checked-boards {
  background: var(--board_bg);
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.BoardList-header {
  background-color: var(--board_head);
  color: var(--board_head_txt);
  width: 90%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.Board {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 5px;
  background: var(--Board_bg);
  width: 90%;
  padding: 5px;
  margin: 5px;
  position: relative;
  overflow: hidden; 
}

.Checked-Board {
  background: var(--checked);
}

.Held-Board {
  background:var(--held);
}

.Board-title {
  margin: 0; 
  transition: opacity 0.3s ease; 
}

.Board-content { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.Board:hover .Board-content {
  opacity: 1; 
}

.Board-btns {
  position: absolute;
  top: 50%;
  right: 50px; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.Board:hover .Board-btns {
  opacity: 1; 
}

.board-btn {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  margin-bottom: 5px; 
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease; 
}

.board-delete-btn:hover {
  background-color: var(--del_btn);
  transform: scale(1.1); 
}

.board-check-btn:hover {
  background-color: var(--check_btn);
  transform: scale(1.1); 
}

.board-hold-btn:hover {
  background-color: var(--hold_btn);
  transform: scale(1.1); 
}

.board-checked {
  color: var(--check_board);
}

.board-held {
  color: var(--hold_board);
}

.CreateBoard{
  position: relative;
  width: 200px;
  height: 75px;
  background:var(--create_board);
  padding: 10px;
  border-radius: 30px;
  box-shadow: solid 10 2px 5px #aaa; 
  border: 3px var(--create_border) outset;
}

.CreateBoard-title{
  display: flex;
  border: var(--create_ttl_border);
  font-size: 1em;
  font-family: inherit;
  outline: none;
}

.CreateBoard-content{
  display: flex;
  border:  var(--create_ttl_border);
  font-size: 1em;
  font-family: inherit;
  outline: none;
  resize: none;
}

.CreateBoard-submit-btn{
  position: absolute;
  font-size: 18px;
  right: 18px;
  bottom: -18px;
  background: var(--submit-btn);
  color: var(--btn_txt);
  border: none;
  border-radius: 50%; 
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.CreateBoard-submit-btn:hover{
  background: var(--create_border);
  transform: scale(1.05);
  transition-property: background, transform;
  transition: 0.7s ease-in-out;
}

.CreateBoard-header{
  background-color: var(--del_btn);
}