.Note-btns {
  display: none;
  flex-direction: row-reverse;
  gap: 0.5rem;
  position: relative;
  top: -50%;
  left: 20%;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #3498db;
  padding: 1rem;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}

.Note-btns.show {
  display: flex;
  opacity: 1;
}

.Row-btns {
  position: absolute;
  left: 35%; 
  top: 50%;
  transform: translateY(-50%);
  display: none;
  flex-direction: row-reverse;
  gap: 0.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #3498db;
  padding: 1rem;
  border-radius: 20px;
  opacity: 0;
  z-index: 2;
}

.Row-btns.show {
  display: flex;
  opacity: 1;
}

.Board-btns {
  display: none;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #3498db;
  padding: 0.5rem;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
}

.Board-btns.show{
  display: flex;
  opacity: 1;
}

.Item-btn {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FF6B6B;
  color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.Item-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Item-delete-btn:hover {
  background-color: red;
}

.Item-checked-btn:hover {
  background-color: green;
}

.Item-held-btn:hover {
  background-color: blue;
}

.Item-edit-btn:hover {
  background-color: slategrey;
}

.Item-save-btn:hover {
  background-color: steelblue;
}

.CreateNote-btn {
  position: absolute;
  right: 18px;
  bottom: -15px;
  background-color: #FF6B6B;
  font-size: 1.3em;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 2em; /* Increased size to match Duolingo style */
  height: 2em; /* Increased size to match Duolingo style */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adjusted shadow for Duolingo style */
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, transform 0.2s;
}

.CreateNote-btn:hover {
  background-color: #fe4848;
  transform: translateY(-2px); /* Slight lift effect */
}

.CreateNote-btn:active {
  transform: translateY(1px); /* Slight push effect */
}