/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightseagreen;
  padding: 0.5rem 1.5rem;
}

/* Navbar Brand */
.nav-brand {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Centered Navbar Buttons */
.navbar-center-btns {
  display: flex;
  gap: 1rem;
}

/* Navbar Items */
.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-items:hover {
  width: 6rem;
  border-radius: 20px;
}

/* Hidden text inside Navbar Items */
.nav-hide {
  display: none;
}

.nav-items:hover .nav-hide {
  display: inline;
  margin-left: 0.3rem;
}

/* Profile Dropdown */
.nav-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-profile .profile-logo {
  color: #f1f1f1;
  transition: color 0.2s ease-in;
}

.nav-profile:hover .profile-logo {
  color: #333;
}

/* Dropdown Menu */
.nav-profile .dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 160px;
  padding: 10px 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.nav-profile:hover .dropdown {
  display: block;
}

/* Dropdown Items */
.dropdown-items {
  padding: 12px 14px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  display: block;
  transition: font-size 0.3s ease, color 0.3s ease;
}

/* Hover Effects on Dropdown Items */
.edit:hover {
  font-size: 16px;
  color: blue;
}

.logout:hover {
  font-size: 16px;
  color: red;
}

/* Responsive Design */
/* @media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
  }

  .navbar-center-btns {
    width: 100%;
    justify-content: space-around;
    margin: 0.5rem 0;
  }

  .nav-items {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nav-items:hover {
    width: 5rem;
  }

  .dropdown {
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
  }
} */
