.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav_bg);
  padding: 0.5rem 1.5rem;
}

.navbar-center-btns {
  display: flex;
  gap: 1rem;
}

.nav-brand {
  color: var(--nav_txt);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background-color: var(--nav_item_bg);
  transition: width 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: var(--nav_item_color);
}

.nav-items:hover {
  width: 6rem;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-hide {
  display: none;
}

.nav-items:hover .nav-hide {
  display: inline;
  margin-left: 0.3rem;
}

@keyframes smoothHide {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}

.nav-profile {
  position: relative;
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.nav-profile .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--profile_dropdown);
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* border: 1px solid #ccc; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.nav-profile .dropdown .dropdown-items {
  color: var(--dropdown_txt);
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: default;
}

.nav-profile:hover .dropdown {
  display: block;
}

.nav-profile .dropdown .dropdown-items span:hover {
  font-size: 18px;
  color: var(--dropdown_txt_hover);
  transition-property: color, font-size;
  transition: ease-in-out 0.3s;
}

.profile-logo{
  color: var(--profile);
  transition: 0.5s ease-in-out;
  margin-left: 10px;
}

.profile-logo:hover{
  color: var(--profile_hover);
}

.btn-pro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content{
  display: flex;
  align-items: center;
  justify-content: center;
}