.NoteList {
  width: 100%;
  height: 87vh;
  background: var(--body_bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.notes {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filter-input {
  font-size: 18px;
  font-family: inherit;
  outline: none;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px inset blue;
  margin-bottom: 15px;
  text-align: center;
}

.filter-input::placeholder {
  text-align: center;
}

.filter-notes {
  margin-left: 10px;
}

.note {
  display: flex;
  flex-direction: column;
  background-color: var(--note_bg);
  border-radius: 10px;
  width: 200px;
  height: 275px;
  text-align: left;
  color: var(--note_txt);
  margin: 10px;
}

.note:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease-in-out;
}

.note-check {
  background-color: var(--note_check);
  color: var(--note_check_txt);
}

.note-hold {
  background-color: var(--note_hold);
  color: var(--note_hold_txt);
}

.note-title {
  background-color: var(--note_title_bg);
  color: var(--note_title_txt);
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-top: -5px;
  text-align: center;
}

.note-content {
  display: block;
  padding-left: 5px;
  margin-top: -5px;
}

.note-btns {
  position: absolute;
  top: 105px;
  right: 55px;
  display: none;
}

.note:hover .note-btns {
  display: flex;
  flex-direction: row-reverse;
}

.note-btn {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
  border: none;
  outline: none;
}

.note-btn:hover {
  transform: scale(1.1);
  transition: transform 0.7s ease-in-out;
}

@keyframes checkBounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-3px);
  }
}

.note-delete-btn {
  color: var(--note_del_btn);
  background-color: var(--note_del_txt);
  outline: none;
  border: none;

}

.note-delete-btn:hover {
  animation-duration: 0.5s;
  animation-name: checkBounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.note-check-btn {
  color: var(--note_check_btn);
  background-color: var(--note_check_txt);
}

.note-check-btn:hover {
  animation-duration: 0.5s;
  animation-name: checkBounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.note-hold-btn {
  color: var(--note_hold_btn);
  background-color: var(--note_hold_txt);
}

.note-hold-btn:hover {
  animation-duration: 0.5s;
  animation-name: checkBounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.note-checked {
  color: var(--note_checked_txt);
}

.note-held {
  color: var(--hote_held_txt);
}

.CreateArea {
  margin-top: 5px;
  position: relative;
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--createarea_bg);
}

.CreateArea-textarea, 
.CreateArea-input{
  width: 100%;
  border: none;
  margin-bottom: 10px;
  color: var(--input_txt);
  outline: none;
}

.CreateArea-input{
  border-bottom: 1px solid gray;
  font-size: 1.3rem;
  padding-bottom: 5px;
  font-weight: bold;
  color: var(--create_txt);
}
.CreateArea-textarea{
  /* border: 1px solid blue; */
  margin-bottom: 15px;
  padding: 5px;
  font-size: 0.8rem;
  color: var(--text_area);
  background: var(--body_bg);
}

.CreateArea-btn {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  right: 18px;
  bottom: -15px;
  background: var(--create_btn);
  color: var(--create_btn_txt);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.CreateArea-btn:hover {
  transform: scale(1.1);
  background-color: var(--create_btn_hover);
  transition: background-color 1s, transform 0.7s;
}



/* responsive */



@media (max-width: 410px) {

  .notes {
    margin-top: 10px;
  }
  
  .note {
    border-radius: 10px;
    width: 175px;
    height: 230px;
  }
  
  .note-title {
    font-size: 1.1em;
    padding: 8px;
  }
  
  .note-btn {
    border: 10px solid blue;
  }
  
  
  .CreateArea {
    width: 350px;
  }
  
  .CreateArea-input{
    font-size: 1.2rem;
  }

}