/* Note List and Header:
    - .note-list: Flexbox layout for note list with fixed position.
    - .notes-container: Flexbox layout for notes with wrapping.
*/

/* Notes Container:
    - .filter-notes: Styling for the filter options in the note list.
*/

/* Note Styles:
    - .note: Base note styling with background color, border-radius, shadow, and hover effect.
    - .note-title: Styling for note title.
    - .note-content: Styling for note content.
    - .note-ellipse-btn: Ellipse button styling for note actions.
*/

/* Create Area:
    - .create-area: Styling for the create area with padding, border, and shadow.
    - .create-area-textarea, .create-area-input: Input and textarea styling within the create area.
*/


/* NoteList.css */
.note-list {
  display: flex;
}

.notes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  height: 500px;
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;
}

.notes-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; 
  border-radius: 8px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: lightseagreen; 
  border-radius: 8px; 
  transition: background-color 0.3s ease-in-out; 
}

.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: lightgreen; 
}

.notes-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px; 
}

.note {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 154);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 175px;
  text-align: left;
  transition: transform 0.3s ease-in, background-color 0.3s ease-in;
  margin: 20px 0px 0px 15px;
}

.note:hover {
  transform: scale(1.01);
}

.note-checked {
  background-color: rgb(119, 237, 119);
}

.note-held {
  background-color: rgb(115, 191, 238);
}

.note-title {
  background-color: #3498db;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-top: -5px;
  text-align: center;
}

.note-content {
  display: block;
  padding-left: 5px;
  margin-top: -5px;
  height: 100px;
  color: #333333;
  font-size: 1em;
  font-weight: bold;
  white-space: pre-wrap;
}


.note-ellipse-btn {
  position: relative;
  top: -85%;
  right: -85%;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FF6B6B;
  color: #fff;
  border: none;
}

.note-ellipse-btn:hover{
  background-color: #fe4848;
}

.create-area {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: solid 10 2px 5px #aaa;
  border: 3px lightseagreen outset;
}

.create-area-textarea, 
.create-area-input {
  display: flex;
  flex-direction: column;
  border: #333;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  resize: none;
}
