/* NoteList.css */
.note-list {
  display: flex;
  box-sizing: border-box;
  position: fixed;
}

.notes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-notes {
  margin-left: 1em;
}

.note {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 154);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 175px;
  text-align: left;
  margin: 20px 0px 0px 15px;
}

.note:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in;
}

.note-checked {
  background-color: rgb(119, 237, 119);
}

.note-held {
  background-color: rgb(115, 191, 238);
}

.note-title {
  background-color: #3498db;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-top: -5px;
  text-align: center;
}

.note-content {
  display: block;
  padding-left: 5px;
  margin-top: -5px;
  height: 100px;
  color: #333333;
  font-size: 1em;
  font-weight: bold;
}

.note-ellipse-btn {
  position: relative;
  top: -85%;
  right: -85%;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FF6B6B;
  color: #fff;
  border: none;
}

.note-ellipse-btn:hover{
  background-color: #fe4848;
}

.create-area {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 50px;
  box-shadow: solid 10 2px 5px #aaa;
  border: 3px lightseagreen outset;
}

.create-area-textarea, 
.create-area-input {
  display: flex;
  flex-direction: column;
  border: #333;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  resize: none;
}

/* Add keyframe animation for hover effects if needed */
@keyframes checkBounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3px);
  }
}
