/* Table Container and Header */
.table-container {
    width: 100%;
    display: table;
    margin: auto;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.scrollable-table {
    height: 450px;
    width: 90%; 
    max-width: 1000px;
    overflow-y: auto;
    margin: auto;
}

/* Table Header Cells */
.table-head {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Form Controls */
.Tables-form-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.Tables-form-group {
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.Tables-form-control {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-radius: 8px;
    margin-left: 5px;
    text-align: center;
    border: 2px solid #007bff;
    padding: 8px 12px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s;
}

.Tables-form-control:focus {
    border-color: #0056b3;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Create Row Button */
.CreateRow-btn {
    position: relative;
    top: -3px;
    background-color: #FF6B6B;
    font-size: 1.3em;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px; 
    height: 36px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, transform 0.2s;
}

.CreateRow-btn:hover {
    background-color: #fe4848;
    transform: translateY(-2px); 
}

.CreateRow-btn:active {
    transform: translateY(1px); 
}

/* Row Styles */
.row {
    color: black;
    background-color: rgb(248, 248, 154);
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.row:hover {
    transform: scale(1.01);
    transition-property: border-radius, background-color, transform;
    transition: 0.3s ease-in;
}

.row-checked {
    background-color: rgb(119, 237, 119);
}

.row-held {
    background-color: rgb(115, 191, 238);
}

/* Row Data Cells */
.row-data {
    color: black;
    font-size: 1em;
    position: relative;
    padding: 15px;
}

.row-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 50px; 
}

/* Row Content Text */
.row-content-text {
    margin-right: 50px; 
}

/* Note Ellipse Button */
.row-ellipse-btn {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FF6B6B;
    color: #fff;
    border: none;
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
}

.row-ellipse-btn:hover {
    background-color: #fe4848;
}

/* Row Edit Title */
.row-edit-title {
    width: calc(100% - 50px); 
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Row Edit Content */
.row-edit-content {
    width: calc(100% - 50px);
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}
