
table {
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}
.TableList{
    background: var(--body_bg);
    height: 87vh;
}

.scrollable-table {
    height: 400px;
    width: 90%; 
    max-width: 1000px;
    overflow-y: auto;
    margin: auto;
}

.table-container {
    display: table;
    margin: auto;
}

.table-head {
    background-color: var(--table_head_bg);
    color: var(--table_head_txt);
    text-align: center;
    padding: 15px;
}

.Tables-form-container {
    transform: translateY(283px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: var(--table_form_bg);
}

.Tables-form-group {
    width: 350px;
    font-size: 16px;
    margin: 5px;
}

.Tables-form-control {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--table_form_txt);
    margin-left: 5px;
    padding: 5px;
    width: 260px;

}

.Tables-submit-btn {
    color: var(--table_submit_txt);
    background-color: var(--table_submit_bg);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.Tables-submit-btn:hover {
    background-color: var(--table_submit_txt_hover);
    transform: scale(1.02);
    transition: background-color, transform;
    transition: 0.7s ease-in-out;
}

/* Row styles */
.row {
    color: var(--row_txt);
    background-color: var(--row_bg);
    height: auto;
    width: 100%;
}

.row:hover {
    transform: scale(1.01);
    transition-property: border-radius, background-color, transform;
    transition: 0.7s ease-in-out;
}

.row-data {
    color: var(--row_data);
    font-size: 1em;
    font-style: italic;
}

.row-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.row-btn {
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    align-items: center;
    border-radius: 100px;
}

.row-delete {
    color: lightcoral;
    background-color: #eee;
    border-radius: 20px;
}

.row-delete:hover {
    transform: scale(1.1);
    background-color: red;
    transition: background-color 1s, transform 0.7s;
}

.row-check {
    color: lightgreen;
    background-color: #90ed90;
}

.row-check:hover {
    transition: background-color 1s, transform 0.7s;
}

.row-hold {
    color: lightblue;
    background-color: #87cefa;
}

.row-hold:hover {
    transition: background-color 1s, transform 0.7s;
}

.row-btn {
    margin-right: 5px;
    border-radius: 50px;
}

.row-delete-btn:hover {
    background-color: red;
    animation-duration: 0.5s;
    animation-name: checkBounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.row-check-btn {
    border-radius: 50px;
}

.row-check-btn:hover {
    animation-duration: 0.5s;
    animation-name: checkBounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: lightgreen;
}

@keyframes checkBounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-3px);
    }
}

.row-hold-btn {
    border-radius: 50px;
}

.row-hold-btn:hover {
    animation-duration: 0.5s;
    animation-name: checkBounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: lightblue;
}

.row-checked {
    color: green;
}

.row-held {
    color: blue;
}


/* Drag and drop css */
.row {
    color: black;
    height: auto;
    width: 100%;
}

.row:hover {
    transform: scale(1.01);
    transition-property: border-radius, background-color, transform;
    transition: 0.7s ease-in-out;
}


/*
   Responsive styles 
*/
@media (max-width: 480px) {
    .Tables-form-group {
        font-size: 14px;
    }

    .Tables-form-control {
        font-size: 14px;
    }

    .row-data {
        font-size: 0.8em;
    }

    .row-btn {
        width: 35px;
        height: 35px;
    }

    .Tables-form-container {
        transform: translateY(220px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
    .Tables-form-control {
        font-size: 12px;
        width: 200px;
    }
}