.trash{
    color: red;
    background-color: #eee;
    border-radius: 20px;
}

.trash:hover{
    background-color: red;
    transition: background-color 0.3s, tranform 0.2s;
}

.check{
    color: blue;
    background-color: #eee;
    border-radius: 20px;
}

.check:hover{
    background-color: lightgreen;
    transition: background-color 0.3s, tranform 0.2s;
}

.hold{
    color: blue;
    background-color: #eee;
    border-radius: 20px;
}

.hold:hover{
    background-color: lightskyblue;
    transition: background-color 0.3s, tranform 0.2s;
}

.note{
    border-radius: 20px;
    box-shadow: 20%;
    background-color: #eee;
}

.note:hover{
    background-color:  #ccc;
    transition: background-color 0.3s, transform 0.2s;
}

  .checked {
    background-color: lightgreen;
  }

  .held{
    background-color: lightskyblue;
  }
  