* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ccc;
  padding: 0 0px;
}

.note {
  box-shadow: solid 0 2px 5px #bbb;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: silver;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color:  #FF6B6B;
  font-family: "Montserrat", sans-serif;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 50px;
  box-shadow: solid 10 2px 5px #aaa; 
}

form input,
form textarea {
  width: 100%;
  border: #333;
  padding: 4px;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #FF6B6B;
  color: #fff;
  border: none;
  border-radius: 50%; 
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

button:hover {
  transform: scale(1.1);
  background-color: lightseagreen;
  transition: background-color 1s, transform 0.7s ;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}

.note-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.note-content {
  color: #333;
  font-weight: bold;
}

.create-area {
  max-width: 400px;
  width: 100%;
  
}

.create-area textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
 
}

.create-area button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.create-area button:hover {
  background-color: #005bb8;
  transition: background-color 1s, transform 0.7s;
}