.CreateBoard{
    position: relative;
    width: 200px;
    height: 75px;
    background: #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: solid 10 2px 5px #aaa; 
    border: 3px lightseagreen outset;
}

.CreateBoard-title{
    display: flex;
    border: #333;
    font-size: 1em;
    font-family: inherit;
    outline: none;
}

.CreateBoard-content{
    display: flex;
    border: #333;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    resize: none;
}

.CreateBoard-submit-btn{
    position: absolute;
    font-size: 18px;
    right: 18px;
    bottom: -18px;
    background: #FF6B6B;
    color: #fff;
    border: none;
    border-radius: 50%; 
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.CreateBoard-submit-btn:hover{
    background: lightseagreen;
    transform: scale(1.05);
    transition-property: background, transform;
    transition: 0.7s ease-in-out;
}

.CreateBoard-header{
    background-color: red;
}