.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.nav-board{
    text-decoration: none;
    float: left;
    cursor: default;
    color: white;
    font-weight: 400;
    font-style: normal;
=======
.navbar-center-btns {
  display: flex;
  gap: 1rem;

}

.nav-board {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  background-color: whitesmoke;
  transition: width 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.nav-items:hover {
  background-color: lightseagreen;
  width: 6rem;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-hide {
  display: none;
}

.nav-items:hover .nav-hide {
  display: inline;
  margin-left: 0.3rem;
}

@keyframes smoothHide {
  from {
    max-width: 0%;
  }
  to {
    max-width: 100%;
  }
}
.profile-logo:hover{
    color: white;
    cursor: pointer;
}

.nav-profile {
  position: relative;
  display: block;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.nav-profile .dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.nav-profile .dropdown .dropdown-items {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: default;
}
.nav-profile .dropdown .dropdown-items span:hover{
    font-size: 18px;
    color: red;
    transition-property: color, font-size; 
    transition: ease-in 0.3s;
    cursor: pointer;
=======
.nav-profile:hover .dropdown {
  display: block;
}
}
