table{
    width: 100%;
}
thead {
    position: sticky;
    top: 0;
}
.scrollable-table{
    height: 500px;
    width: 1000px;
    overflow-y: auto;
    margin: auto;
}
.table-container{
    display: table;
    justify-content: center;
    margin: auto;
}

.table-head{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
