.table-container{
    display: table;
    justify-content: center;
    margin: auto;
}

.table-head{
    background-color: black;
    color: white;
    margin-right: 10px;
    text-align: center;
    padding: 15px;
    width: 500px;
}

